{% extends 'tasks/task.html' %} {% block content %}
<div class="col-9 mx-auto mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-check"></i>
      <a class="card-title">Reminders/Tasks</a>
    </div>
    <div class="card-body">
      {% for task in tasks %}
      <div class="form-row">
        <div class="col-md-9 mb-3">
          <div class="input-group">
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="{{task}}"
              readonly
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="far fa-check"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-warning">
            <i class="far fa-edit"></i> UPDATE
          </button>
          <button class="btn btn-danger">
            <i class="far fa-trash"></i> DELETE
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
